/* deleting rows */

.table1 tr:nth-child(10) { display: none; }
.table1 tr:nth-child(11) { display: none; }
.table1 tr:nth-child(12) { display: none; }
.table1 tr:nth-child(13) { display: none; }

* {
  letter-spacing: .09rem;
}

.maincontainer {
  display: flex;
  justify-content: center;
}

.table1 {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  max-width: 1000px;
  /* font-family: 'Lato', sans-serif; */
  border-collapse: collapse;
  /* background-image: url('/./assets/dog-puppy-on-garden-royalty-free-image-1586966191.png'); */
  /* background-image: url('/./assets/cold.png'); */
  /* background-image: url('/./assets/dogs-winter.png'); */
  background-position: center;
  background-size: cover;
}

.table1 td {
  border: 1px solid black;  
  width: 130px;
}

.table1 input {
  border: none;
  text-align: center;
  outline: none;
  width: 100%;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Rubik Beastly', sans-serif; */
  /* font-family: 'Noto Sans JP', sans-serif; */
  /* font-family: 'Dancing Script', cursive; */
  font-size: 18px;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 700;
  background:none;
}

.table1 tr:nth-child(even) {
  background-color: #999;
} 

.table1 input:nth-child(1) {
  border: none;
}

/* tabledata */

.tabledata {
  display: flex;
  flex-direction: column;
}

.tabledata input:nth-child(1) {
  width: 100%;
}

.tabledata input:nth-child(2) {
}

::placeholder {
  color: black;
  opacity: 1.0;
}

@media print{
  @page {size: landscape}

  .table1 tr:nth-child(even) {
    background: transparent;
  }

  .maincontainer {
    height: 95vh;
    align-items: center;
  }
}

@media screen and (max-width: 780px) {
  .table1 input {
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  .table1 input {
    font-size: 8px;
  }
}

@media screen and (max-width: 430px) {
  .table1 input {
    font-size: 6px;
  }
}