/* deleting rows */

.table1 tr:nth-child(10) { display: none; }
.table1 tr:nth-child(11) { display: none; }
.table1 tr:nth-child(12) { display: none; }
.table1 tr:nth-child(13) { display: none; }

* {
  letter-spacing: .09rem;
}

.maincontainer {
  display: flex;
  justify-content: center;
}

.table1 {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  max-width: 800px;
  font-family: 'Lato', sans-serif;
  border-collapse: collapse;
}

.table1 td {
  border: 1px solid black;  
}

.table1 input {
  border: none;
  text-align: center;
  outline: none;
  width: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 100;
  background:none;
}

.table1 tr:nth-child(even) {
  background-color: #999;
} 

.table1 input:nth-child(1) {
  border: none;
}

/* tabledata */

.tabledata {
  display: flex;
  flex-direction: column;
}

.tabledata input:nth-child(1) {
  width: 105px;
}

.tabledata input:nth-child(2) {
}

::placeholder {
  color: black;
  opacity: 1.0;
}

@media print{
  @page {size: landscape}

  .table1 tr:nth-child(even) {
    background: transparent;
  }
}