@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
html,
body {
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'roboto', sans-serif; */
  font-family: 'lato', sans-serif;
  background: #212121;
  height: 100%;
}
.container {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  animation-name: opacityOn;
  animation-duration: 30s;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.text {
  font-weight: 100;
  font-size: 60px;
  color: #fafafa;
  /* background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	line-height: .75;
	margin: 10px 0; */
}
.dud {
  color: #757575;
}

@keyframes opacityOn {
  0% {
      opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
      opacity: 1;
   }
}